body {
  background-color: EAF6F6;
}
hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  }
h3 {
  color: 66BFBF;
}
h1 {
  color: 4B8673;
}
